@media (min-width: 50px) and (max-width: 320px) {
    .current-contacts, .button-media-adjuster {
        width: 95%;
    }
    img, .image-container {
        display: none !important;
    }
    .info-container  {
        width: 80%;
    }
    .user-settings-container{
        width: 20%;
    }
}

@media (min-width: 321px) and (max-width: 425px){
    .current-contacts, .button-media-adjuster {
        width: 95%;
    }
    img, .image-container {
        display: none !important;
    }
    .info-container {
        width: 70%;
    }
    .user-settings-container{
        width: 30%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .current-contacts, .button-media-adjuster {
        width: 80%;
    }
    img {
        width: 150px;
        max-height: 150px;
    }
    .image-container, .info-container, .user-settings-container {
        width: 33.3%;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .current-contacts, .button-media-adjuster {
        width: 80%;
    }
    img {
        width: 150px;
        max-height: 150px;
    }
    .image-container, .info-container, .user-settings-container {
        width: 33.3%;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .current-contacts, .button-media-adjuster {
        width: 70%;
    }
    img {
        width: 250px;
        max-height: 250px;
    }
    .image-container, .info-container, .user-settings-container {
        width: 33.3%;
    }
}
